body {
	color: black;
	background: grey;
	font-family: DejaVu Sans, Verdana, sans;
	font-size: 12px;
}

em {
	font-weight: bold;
}

p, li{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	line-height: 1.2em;
}

h1, h2, h3 {
	font-family: DejaVu Sans, Verdana, Arial, sans;
}

div#container {
	border-width: 2px medium;
	width: 960px;
	margin: 0em auto;
}

div#content {
	background: #E8E8E8;
	padding: 1em;
}

div#timetable {
	background: white;
	padding: 2em;
}

div#timetable > table {
	width: 100%;
}

div#footer {
	background: #404040;
	color: white;
	text-align: center;
	padding: 1em;
}

th {
	background: #A0A0A0;
	text-align: center;
}

th, td {
	border: 1px solid black;
	padding: 0.4em 1.0em;
}

tr.section {
	background: #C8C8C8;
	font-weight: bold;
}

p.date {
	text-align: right;
	color: grey;
}
