{% extends "_base.html" %}

{% block page_title %}
Timetable for {{ intake if intake != None else lecturer if lecturer != None else room }}
{% endblock %}

{% block content %}
<div id="timetable">
    <p style="float: left; width: 50%; text-align: left;">
    {% if intake != None %}
    <a href="{{ url_for('intake_list') }}">◤ Go back to intake list</a>
    {% elif lecturer != None %}
    <a href="{{ url_for('lecturer_list') }}">◤ Go back to lecturer list</a>
    {% elif room != None %}
    <a href="{{ url_for('room_list') }}">◤ Go back to room list</a>
    {% endif %}
    </p>
    <p style="float: left; width: 50%; text-align: right;">
    <!--<a href="{{ webspace_url }}">Go to Webspace version ◥</a>-->
    v1◥
    </p>
    <h1>Timetable for {{ intake if intake != None else lecturer if lecturer != None else room }}</h1>
    <p>You can bookmark this page to get the
    {% if week > 0 %}
    next {% if week > 1 %}{{ week }} weeks'{% else %}week's{% endif %}
    {% elif week < 0 %}
    previous {% if week < -1 %}{{ -week }} weeks'{% else %}week's{% endif %}
    {% else %}
    current week's
    {% endif %}
    timetable.</p>

    {% if intake != None %}
    <p style="float: left; width: 33%; text-align: left;"><a href="{{ url_for('intake_timetable', intake=intake, week=week-1) }}">◁◁ Previous Week</a></p>
    <p style="float: left; width: 33%; text-align: center;"><a href="{{ url_for('intake_timetable_now', intake=intake) }}">▽ Now ▽</a></p>
    <p style="float: left; width: 33%; text-align: right;"><a href="{{ url_for('intake_timetable', intake=intake, week=week+1) }}">Next Week ▷▷</a></p>
    {% elif lecturer != None %}
    <p style="float: left; width: 33%; text-align: left;"><a href="{{ url_for('lecturer_timetable', lecturer=lecturer, week=week-1) }}">◁◁ Previous Week</a></p>
    <p style="float: left; width: 33%; text-align: center;"><a href="{{ url_for('lecturer_timetable', lecturer=lecturer, week=0) }}">▽ Now ▽</a></p>
    <p style="float: left; width: 33%; text-align: right;"><a href="{{ url_for('lecturer_timetable', lecturer=lecturer, week=week+1) }}">Next Week ▷▷</a></p>
    {% elif room != None %}
    <p style="float: left; width: 33%; text-align: left;"><a href="{{ url_for('room_timetable', room=room, week=week-1) }}">◁◁ Previous Week</a></p>
    <p style="float: left; width: 33%; text-align: center;"><a href="{{ url_for('room_timetable', room=room, week=0) }}">▽ Now ▽</a></p>
    <p style="float: left; width: 33%; text-align: right;"><a href="{{ url_for('room_timetable', room=room, week=week+1) }}">Next Week ▷▷</a></p>
    {% endif %}

    <table>
        <tbody>
        <tr>
            <th>Time</th>
            {% if intake != None%}
            <th>Location</th>
            <th>Module</th>
            <th>Lecturer</th>
            {% elif lecturer != None %}
            <th>Location</th>
            <th>Module</th>
            <th>Intake</th>
            {% else %}
            <th>Intake</th>
            <th>Module</th>
            <th>Lecturer</th>
            {% endif %}
        </tr>
        {{ table|safe }}
        </tbody>
    </table>

    <p class="disclaimer">
    All information on this site is taken directly from WebSpace the moment you
    your browser requests the page. It may not work properly if APUs servers
    are offline or if APU made some changes on their site which break our code.
    This site and its creator shall not be held liable for any misconduct due
    to misinnformation with or direct or indirect relation to this page.
    </p>
</div>
{% endblock %}
