{% extends "_base.html" %}

{% block title %}Intake timetable{% endblock %}

{% block content %}
<div id="timetable">
    <h1>Time-table for {{ intake }}</h1>
    <p>You can bookmark this page to get the
    {% if week > 0 %}
    next {% if week > 1 %}{{ week }} weeks'{% else %}week's{% endif %}
    {% elif week < 0 %}
    previous {% if week < -1 %}{{ -week }} weeks'{% else %}week's{% endif %}
    {% else %}
    current week's
    {% endif %}
    timetable.</p>

    <p style="float: left; width: 33%; text-align: left;"><a href={{ url_for('timetable', intake=intake, week=week-1) }}>Previous Week</a></p>
    <p style="float: left; width: 33%; text-align: center;"><a href={{ url_for('timetable', intake=intake, week=0) }}>Now</a></p>
    <p style="float: left; width: 33%; text-align: right;"><a href={{ url_for('timetable', intake=intake, week=week+1) }}>Next Week</a></p>

    {% if table == None %}
    <p><em>

        {% if modified == None %}
        Timetable not published yet or unavailable.
        {% else %}
        There are no classes.
        {% endif %}
    </em></p>
    {% else %}
    <table>
        <tbody>
            <tr>
                <th>Time</th>
                <th>Location</th>
                <th>Module</th>
                <th>Lecturer</th>
            </tr>
            {{ table|safe }}
        </tbody>
    </table>
    {% endif %}
    <p class="date">
    {% if modified == None %}
    Timetable not available
    {% else %}
    Last modified: {{ modified }}
    {% endif %}
    </p>

    <p class="disclaimer">
    This site and it's creator shall not be held liable for any case of lateness
    or absence due to misinformation with or direct or indirect relation to this
    page.
    </p>
</div>
{% endblock %}
