{% extends "_base.html" %}

{% block page_title %}Lecturer list{% endblock %}

{% block content %}
<div id="timetable">
    <h1>Lecturer list</h1>
    <p>Select a lecturer from below. If you don't like to scan the list, just put the full name of the lecturer in all caps on the link address.</p>

    <table>
        <tbody>
            <tr>
                {% for group in groups %}
                <th>{{ group }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for list in lecturer_lists %}
                <td><ul style="list-style:none;">
                        {% for name in list %}
                        <li><a href="{{ url_for('lecturer_timetable', lecturer=name, week=0) }}">{{ name }}</a></li>
                        {% endfor %}
                </ul></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
